* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

:root {
    --primaryColor : #FB2E86;
    --success : #08D15F;
    --mainfont : "Lato" , sans-serif ; 

}

.btn {
    border: none;
    outline: none;
    color: #fff;
    background-color: var(--primaryColor);
    padding: 16px 40px;
    border-radius: 2px;
}

.btn-success {
    background-color: var(--success);
    border-radius: 2px;
    
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.container {
    width:calc(100% - 320px);
   margin: auto;
}

@media screen and (max-width:1400px) {
    .container{
        width: calc(100% - 200px);
    }
}

@media screen and (max-width:992px) {
    .container{
        width: calc(100% - 100px);
    }
}

@media screen and (max-width:576px) {
    .container{
        width: calc(100% - 40px);
    }
}

.text-white {
    color: #fff;
}

.d-flex {
    display: flex;
}

.flex-direction {
    flex-direction: column;
    align-items: center;
}

.gap-100{
    gap:100px;
}

.gap-21 {
    gap: 21px;
}

.gap-12 {
    gap: 12px;
}

.gap-50 {
    gap: 50px;
}

.padding-100{
    padding:100px 0;
}

.text-center {
    text-align: center;
}

.justify-center {
    justify-content: center ;
}

.justify-saround{
    justify-content: space-between ;
}