body {
    font-family: var(--mainfont);
}

/* start header */

.header {
    padding: 57px 0px;
   
    
}

.header ul {
    display: flex;
    flex-wrap: wrap;
    gap:35px;
}

.header .bar {
    display: none;
}

.list a {
    color: #0D0E43;
}

.list .active  {
    color:var(--primaryColor);
}

.search form {
    border: 2px solid #E7E6EF;
    border-radius: 5px;
}

.search  input {
    border: none;
    outline: none;
    width: 220px;
    padding-left: 5px;
    
}

.search button {
    border: none;
    outline: none;
    background-color: var(--primaryColor);
    padding: 8px 14px;
    
    
    
}

@media screen and (max-width:1200px){
    .list ,.header .search {
        display: none;
    }

    .header .bar {
        display: block;
    }
}

/* end header */



/* start clients */

.clients .row {
    flex-wrap: nowrap;
    gap: 15px;
    overflow-x: auto;
}

.clients .client_logo{

    width: calc((100% - 75px) / 4);

}

.clients img {
    width: 150px;
    height: 150px;
    
}

@media screen and (max-width:900px) {
    .clients .client_logo {
        width: calc((100% - 30px) / 3);
    }
}

/* end clients */





/* start footer */

.footer .row {
    gap:30px;
}

.footer .left-side {
    gap:35px;
    align-items: flex-start;
    width: calc((100% - 30px)/ 2) ;
}

.footer .right-side{
    width: calc((100% - 30px)/ 2) ;
}

.footer .right-side .row {
    align-items: flex-start;
    gap: 35px;
}

.footer {
    background-color: #EEEFFB;
}

.footer a {
    color: #8A8FB9 ; 
}

.footer form {
    display: flex;
}

.footer .footer-item {
    gap:45px ; 
    width: calc((100% - 70px) / 3 );
}

.address-info {
    gap:10px;
}



@media screen and (max-width:992px) {
    
    .footer .left-side, .footer .right-side {
        width: 100%;
    }
}

 @media screen and (max-width:576px) {
       
    .footer{
        text-align: center;
    }
  
   .footer .footer-item{
        width: 100%;
        align-items: center;
    }
} 

/* end footer */

