body {
    font-family: var(--mainfont);
}


.header {
    padding: 57px 0px;
   
    
}

.header ul {
    display: flex;
    flex-wrap: wrap;
    gap:35px;
}

.header .bar {
    display: none;
}

.list a {
    color: #0D0E43;
}

.list .active  {
    color:var(--primaryColor);
}

.search form {
    border: 2px solid #E7E6EF;
    border-radius: 5px;
}

.search  input {
    border: none;
    outline: none;
    width: 220px;
    padding-left: 5px;
    
}

.search button {
    border: none;
    outline: none;
    background-color: var(--primaryColor);
    padding: 8px 14px;
    
    
    
}

.footer .left-side {
    gap:35px;
    align-items: flex-start;
}

.right-side{
    width: 60%;
}

.footer {
    background-color: #EEEFFB;
}

.footer a {
    color: #8A8FB9 ; 
}

.footer .footer-item {
    gap:45px ; 
}

.address-info {
    gap:10px;
}

@media screen and (max-width:1200px){
    .list , .search {
        display: none;
    }

    .header .bar {
        display: block;
    }
}